.App {
  text-align: center;
  background-image: url("concert_image.jpg");
}

.App-header {
  height: 150px;
  padding: 20px;
}

.Nav-bar {
  color: hotpink;
  font-size: 25px;
  padding: 50px;
  text-decoration: none;
}

.Nav-bar:hover {
  color: blue;
}

.landing {
  color: hotpink;
}

.hero-title {
  font-size: 60px;
}

.point {
  padding: 15px;
  font-size: 35px;
}

.point-title {
  padding: 10px;
  font-size: 45px;
}

.album-link {
  color: hotpink;
  font-size: 20px;
}

.album-link:hover {
  color: blue;
}

.album-details {
  color: hotpink;
  font-size: 30px;
}

.song {
  color: hotpink;
  font-size: 20px;
}

.player-bar {
  color: hotpink;
  position: fixed;
  top: 2%;
  right: 15%;
}
