.App {
  background-image: url("concert_image.jpg");
  text-align: center;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.Nav-bar {
  background-color: black;
  border: 1px solid;
  border-radius: 10px;
  color: hotpink;
  font-size: 25px;
  margin: 40px;
  padding: 10px;
  text-decoration: none;
}

.Nav-bar:hover {
  color: blue;
}

.landing {
  color: hotpink;
}

.hero-title {
  font-size: 60px;
}

.point {
  padding: 10px;
  font-size: 35px;
}

.point-title {
  padding: 10px;
  font-size: 45px;
}

.album-link {
  color: hotpink;
  font-size: 25px;
  text-align: center;
}

.album-link:hover {
  color: blue;
}

.album-details {
  color: hotpink;
  font-size: 30px;
}

.song {
  color: hotpink;
  font-size: 20px;
}

.player-bar {
  color: hotpink;
  position: fixed;
  top: 50%;
  right: 15%;
}

#previous {
  background-color: hotpink;
}

#next {
  background-color: hotpink;
}

#play-pause {
  background-color: hotpink;
}

.song .ion-play,
.song .ion-pause {
  display: none;
}

.song:hover .ion-play {
  display: block;
}

.song:hover .song-number {
  display: none;
}

.song.playing .ion-pause {
  display: block;
}

.song.playing .song-number,
.song.playing .ion-play {
  display: none;
}

.song.paused .ion-play {
  display: block;
}

.song.paused .song-number,
.song.paused .ion-pause {
  display: none;
}
